:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body a,
button,
.btn {
    cursor: pointer !important;
}

body,
html {
    font-family: sans-serif;
    color: #212529;
    background: #fff;
    transition: all 0.5s ease-in-out;

}
.text_dark {
    color: #060606 !important;
}

.text_light {
    color: #eee !important;
}

.text_p {
    color: #b7b7b7 !important;
}

.dark {
    background: #161c2d !important;
    transition: all 0.5s ease-in-out;
}
.dark1 {
    background: #121725 !important;
    transition: all 0.5s ease-in-out;
}
.dark3 {
    background: rgb(168 176 195 / 11%) !important;
    color: #4867b0 !important;
}
.shadow_dark
{
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1) !important;
}

.header_dark {
    background-color: #161c2d !important;
    transition: all 0.5s ease-in-out;
}


.header_contact {
    background: #0d369f;
    padding: 4px 5px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    display: block;
}

.header_contact .top-headers ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

.header_contact .top-headers .header_contact_left ul li {
    display: inline-block;
    margin-right: 15px;
}

.header_contact .top-headers .header_contact_right ul li {
    display: inline-block;
    margin-right: 25px;
}

.header_contact .top-headers ul li a {
    text-decoration: none;
    color: #fff;
}

.header_contact .top-headers .header_contact_left ul li i {
    margin-right: 4px;
    font-size: 15px;
}

.header_contact .top-headers .header_contact_right ul li i {
    margin-right: 10px;
    font-size: 15px;
}

.header_navbar {
    background: transparent;
    padding: 4px 5px;
}

.header_fixed {
    position: sticky;
    top: -1px;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}


.navbar-toggler .fa {
    font-size: 20px;
    color: #fff;
    background: #0d369f;
    line-height: 34px;
    border-radius: 0.25rem;
}

@media only screen and (max-width: 991px) {
    .wrapper-position {
        position: absolute;
        right: 70px;
        top: 22px;
    }

    .navbar-toggler-icon {
        padding: 0;
        width: 34px;
        height: 34px;
        border-radius: 4px;
        text-align: center;
    }

    .header_contact {
        display: none;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    margin: 0;
}

.theme-switch input {
    display: none;
}

/*-- //toggle switch --*/
/* //bootstrap */
/*-- dark and light mode styling --*/
.mode-container {
    width: 24px;
    height: 24px;
    padding: 0px 0;
    margin-left: 10px;
    color: #4867b0;
}

.mode-container:hover {
    color: #ff6e65;
}

.mode-container i {
    font-size: 15px;
}

/* css.gg//////////////////////////////////////////////////////// */
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}

.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}

.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

/* .nav-fixed .gg-moon,
  .nav-fixed .gg-moon:after {
    color: #fdfffc;
  }
   */
.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 24px;
    background:
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
}

.gg-sun::after,
.gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
}

.gg-sun::before {
    transform: rotate(-45deg)
}

.gg-sun::after {
    transform: rotate(45deg)
}

/* css.gg//////////////////////////////////////////////////////// */

.mode-container i.gg-sun {
    display: none;
}

.mode-container i.gg-moon {
    display: block;
    cursor: pointer;
}

input:checked+.mode-container i.gg-sun {
    display: block;
    cursor: pointer;
}

input:checked+.mode-container i.gg-moon {
    display: none;
}


button.navbar-toggler {
    outline: none;
}

button.navbar-toggler .icon-close {
    display: block;
}

button.navbar-toggler .icon-expand {
    display: none;
}

button.navbar-toggler.collapsed .icon-close {
    display: none;
}

button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

.navbar-brand span {
    color: #0d369f;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    padding-top: 3px;
    /* line-height: 1.15; */
}

.nav-item a {
    color: #060606;
    padding: 6px 0;
    font-size: 16px;
    font-weight: 600;
}

.nav-item.active .nav-link,
.navbar-expand-lg .navbar-nav .nav-link:hover,
.dropdown-menu a:hover,
.navbar-brand span:hover,
.feature-info a h3:hover,
.content-main h4 a:hover,
.search-btn:hover
 {
    color: #ff6e65 !important;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

.dropdown-menu {
    transform: translateX(-50px);
    background: #fff;
    border: 1px solid transparent;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

.navbar .search-right {
    margin: 0 10px 0 10px;
}

.header_navbar .nav-fixed nav.navbar.navbar-expand-lg.stroke {
    box-shadow: none;
    border-radius: 0px;
    padding: 0.5rem 1rem;
}

.navbar form.search-box {
    display: flex;
    align-items: center;
}

.navbar form.search-box input {
    font-size: 15px;
    color: #060606;
    border: none;
    background: transparent;
    padding: 10px 35px 10px 14px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
    outline: transparent;
}

a.dropdown-item {
    font-size: 16px;
    color: var(--heading-color);
    padding: 5px 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background: transparent;
}

button.search-btn {
    position: absolute;
    color: #0d369f;
    right: 0;
    padding: 8px 12px 8px 2px;
}

.carousel-item {
    height: 90vh;
    background-position: center;
    background-size: cover;
}

.carousel-item:nth-child(1) {
    background: url("./img/banner2.jpg") no-repeat top right;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background: url("./img/banner3.jpg") no-repeat center right;
    background-size: cover;
}

.carousel-item::before,
.carousel-item-next::before,
.carousel-item-prev::before,
.carousel-item.active::before {
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    display: block;
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}


.Carousel .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    width: 100%;
    bottom: auto;
}

.banner_content {
    text-align: left;
    max-width: 600px;
}

.carousel-caption h5 {
    text-align: left;
    margin-top: 8%;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
}

.carousel-caption p {
    font-size: 2vw;
}

.carousel-indicators {
    position: absolute;
    bottom: 20% !important;
    z-index: 15;
    display: block !important;
    margin-right: 0% !important;
    margin-left: 98% !important;
    list-style: none;
}

.carousel-indicators li {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    cursor: auto;
    background-color: white;
    opacity: 1;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.carousel-indicators li.active {
    background-color: red;
    opacity: 0.5;
    border-radius: 50%;
}

.btn_carousel {
    background-color: #fff;
    margin: 40px 0;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: none !important;
    outline: none !;
    font-size: 15px;
    font-weight: 600;
    transition: all .25s ease-in-out;
}

.btn_carousel:hover {
    background-color: #ff6e65;
    color: #fff;
}

.area-box {
    padding: 50px 35px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
}

.area-box.color-1 {
    background-color: #037ef3;
}

.area-box.color-2 {
    background-color: #ffc949;
}

.area-box.color-3 {
    background-color: #ff4f81;
}

.area-box.color-4 {
    background-color: #1ee697;
}

.area-box i {
    font-size: 45px;
    color: #fff;
}

.area-box h4 a.title-head {
    margin-top: 25px;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    transition: all 0.5s;
    text-decoration: none;
}

.area-box h4:hover a {
    color: #060606;
}

.activities_bg {
    position: relative;
    margin-top: -4em;
}

@media screen and (max-width: 1200px) {
    .carousel-caption h5 {
        font-size: 57px;
        line-height: 67px;
    }

    .banner_content {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 45px;
        line-height: 55px;
    }

    .banner_content {
        width: 100%;
    }
}

.title-heading {
    max-width: 700px;
}

.title-heading h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
    position: relative;
}

.title-heading h3 span {
    color: #ff6e65;
}

.title-main::before,
.title-main:after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0px;
    margin: 0 auto;
}

.title-main:before {
    left: -50px;
    bottom: -8px;
}

.title-main:after {
    left: -20px;
    bottom: -15px;
}

.feature-info a {
    text-decoration: none;
    transition: all 0.5s ease 0s;
    color: black;
}

.feature-info a h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}


.dark_border {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background: transparent !important;
}

.feature-info p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
}

.feature-images span {
    color: #0d369f;
    font-size: 30px;
    background: rgb(13 54 159 / 9%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

#courses {
    background: #f8f9ff;
    transition: all 0.5s ease-in-out;
}

.dropdown-menu {
    transform: translateX(-50px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.decor_dropdown {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.blog-card-single {
    border-radius: 8px;
    margin: 1.5rem auto;
}

.blog-card-single:hover {
    box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.03);
}

.card-single {
    position: relative;
}

.card-single img {
    display: block;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.meta-list {
    position: absolute;
    left: 30px;
    top: 15px;
}

.meta-list a:nth-child(1) {
    background-color: #FFA100;
}

.meta-list a:nth-child(3) {
    background: #037ef3;
}

.meta-list a {
    background: #1DC295;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    color: #FFFFFF !important;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.course-price-item {
    position: absolute;
    right: 25px;
    bottom: -15px;
}

.course-price-item h6 {
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #ff6e65;
    color: #FFFFFF;
    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
    min-width: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-main {
    padding: 20px;
    border: 1px solid #eee;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #fff;
}

.content-top li {
    color: black;
    list-style: none;
}

.content-top li i {
    color: #ff6e65;
}

.content-main h4 a {
    text-decoration: none;
    color: #060606;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    transition: all 0.3s;
}

.content-main p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.top-content-border {
    border-top: 1px solid #eee;
}

.rating-list li {
    display: inline-block;
    list-style: none;
}

.rating-list li a {
    color: #ffc949;
    font-size: 15px;
}

.top-content-border ul {
    margin: 0;
    padding: 0;
}

.btn-style-primary {
    color: #ff6e65;
    /* padding: 0; */
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    transition: all .25s ease-in-out;
}

.btn-style-primary:hover {
    color: #0d369f;
}

.btn-brownse {
    background: #ff6e65;
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    transition: all .25s ease-in-out;
}

.btn-brownse:hover {
    background: #0d369f;
}

.pull-right {
    float: right;
    position: fixed;
    right: 0px;
    top: 150px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}

.toggle-right-sidebar span {
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}

#right-sidebar {
    width: 90px;
    position: fixed;
    height: 60%;
    z-index: 1000;
    right: 0px;
    top: 75px;
    margin-top: 60px;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}

#w3lDemoBar.w3l-demo-bar {
    top: 75px;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 40px 5px;
    padding-top: 70px;
    margin-bottom: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#w3lDemoBar.w3l-demo-bar .demo-btns {
    border-top: 1px solid #41414d;
    padding-top: 30px;
}

#w3lDemoBar.w3l-demo-bar a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
    transition: all .5s ease-in-out;
}

#w3lDemoBar.w3l-demo-bar span.w3l-icon {
    display: block;
}

#w3lDemoBar.w3l-demo-bar a:hover {
    opacity: 1;
}

.dropdown-toggle::after {
    display: none;
}


/* /////////////////////////////////////PART 2/////////////////////////////////////////////// */

.csTitle__h3 h3 {
    font-weight: 600;
    font-size: 2.3rem;
    position: relative;
}

.csTitle__h3 span {
    color: #ff6e65;
}

.csTitle__h3 h3::after,
.csTitle__h3 h3::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #707070;
    left: 0px;
    margin: 0px auto;
}

.csTitle__h3 h3::after {
    right: -2.5rem;
    bottom: -14px;
}

.csTitle__h3 h3::before {
    right: 0px;
    bottom: -8px;
}

.csTitle__h5 {
    font-weight: 600;
}

.csDescr {
    font-size: 14px;
    color: #707070;
}

.csBtn {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: white !important;
    border-radius: 4px;
    background-color: #ff6e65;
    border: none;
    transition: background-color .5s;
}

.csBtn:hover {
    background-color: #0d369f;
}

.section__break {
    margin: 8px auto;
}

/* SERVICES----------------------- */
#services {
    background-image: url('./img/bg3.jpg');
    background-position: bottom;
    background-size: cover;
}

.services__item {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.servicesItem__icon {
    margin-right: 1rem;
}

.servicesItem__icon i {
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 65px;
    text-align: center;
    font-size: 25px;
    color: #0d369f;
}

/* NUMBER----------------------- */
.number__list {
    margin-top: 3rem;
}

.number__list>div div:nth-child(4) .number__item {
    border-right: none !important;
}

.number__item {
    border-right: 1px solid #eee;
    padding-right: 15px
}

.number__item p:first-of-type {
    font-size: 2.3rem;
    font-weight: 600;
    margin: 0px;
}

.number__item p:last-of-type {
    font-size: 14px;
}

@media screen and (min-width:1200px) {
    .number__item p:last-of-type {
        font-size: 16px;
    }
}

@media screen and (max-width:991px) {
    .number__item {
        border-right: none;
    }
}

/* FEEDBACK----------------------- */
.feedback__item {
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 2rem;
    margin-bottom: 30px;
}

.feedbackItem__descr q::before {
    content: open-quote;
    font-family: initial;
    line-height: 0.8;
    padding-top: 10px;
    font-size: 3.5rem;
    color: #ff6e65;
    display: inline-block;
}

.feedbackItem__descr {
    font-size: 16px;
    color: #707070;
}

.feedbackItem__thumb {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 1.5rem;
}

@media screen and (max-width:767px) {
    .feedbackItem__thumb {
        grid-template-columns: 0.2fr 1fr !important;
    }
}

.feedbackItem__icon img {
    border-radius: 50%;
}

.feedbackItem__name p {
    font-size: 12px;
    color: #707070;
}

/* INSTRUCTOR----------------------- */
.instructor__item {
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.instructorItem__thumb {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.instructorItem__overlay {
    background-color: rgb(8 8 8 / 29%);
    width: 100%;
    position: absolute;
    bottom: -186px;
    left: 0px;
    max-height: 33%;
    transition: bottom .5s;
}

.instructor__item:hover .instructorItem__overlay {
    bottom: 0px;
}

.instructorItem__overlay ul {
    margin: 0px;
    padding: 1rem 0rem;
    text-align: center;
}

.instructorItem__overlay ul li {
    cursor: pointer;
    transition: opacity .5s;
}

.instructorItem__overlay ul li:hover {
    opacity: .8;
}

.instructorItem__overlay ul i {
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 30px;
    margin-right: 10px;
    background-color: white;
    color: #0d369f;
}

.instructorItem__thumb img {
    border-radius: 6px;
}

.instructorItem__name {
    margin-top: 2rem;
    transition: color .5s;
}

.instructor__item:hover .instructorItem__name h5 {
    color: #ff6e65 !important;
}

.instructorItem__name p {
    font-size: 12px;
    color: #707070;
}

/* -- CONTACT------------------------- */
#contact {
    margin-bottom: 15rem;
}

.contact__text h3 {
    font-size: 35px;
    font-weight: 600;
}

@media screen and (max-width:991px) {
    .contact__text h3 {
        margin-top: 1rem;
    }
}

.contact__text p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #707070;
}

/* -- FOOTER------------------------- */

/* -- SUBSCRIBE------------ */
#footer {
    background-color: #060e1f;
    position: relative;
}

.subscribe {
    max-width: 1000px;
    margin: 0px auto;
    padding: 2.5rem;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: -106px;
    left: 0px;
    right: 0px;
}

@media screen and (max-width:991px) {
    .subscribe {
        margin: 0rem 1rem;
    }
}

.subscribe__title h3 {
    font-size: 35px;
    font-weight: 600;
}

.subscribe__title p {
    color: #707070;
}

.subscribe__email button {
    color: white;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
    padding: 16px 30px;
    border: none;
    background-color: #0d369f;
    transition: all .5s;
}

.subscribe__email button:hover {
    opacity: .9;
}

.subscribe__email input {
    border-radius: 8px 0px 0px 8px;
    width: 100%;
    padding-left: 1.5rem;
    transition: all .5s;
    border: 1px solid #eee;
}

.subscribe__email input:focus,
.subscribe__email button:focus {
    box-shadow: 0 0 0 0.2rem rgb(46 202 139 / 25%);
    outline: none;
}

/* -- FOOTER LIST------------ */
.footer__list {
    padding-top: 10rem;
}

.footer__item h6 {
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    line-height: 40px;
}

.footer__item ul {
    list-style: none;
    padding-left: 0px;
}

.footer__item ul li {
    margin-bottom: 1rem;
}

.footer__item a {
    color: #eee;
    font-size: 13px;
}

.footer__item a span {
    margin-right: 5px;
}

.footer__item li:hover a {
    text-decoration: none;
    color: white;
}

.footer__item2 {
    border-right: 1px solid rgba(23, 54, 88, 0.4);
    padding-right: 1rem;
}

@media screen and (max-width:991px) {
    .footer__item2 {
        border-right: none !important;
    }
}

.footer__item2 h6 {
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    line-height: 40px;
}

.footer__item2 ul {
    list-style: none;
    padding-left: 0px;
}

.footer__item2 ul li {
    margin-bottom: 1.5rem;
}

.footer__item2 a {
    color: #eee;
    font-size: 15px;
}

.footer__item2 a span {
    margin-right: 10px;
}

.footer__item2 li:hover a {
    text-decoration: none;
    color: white;
}

.footer__item3 h6 {
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    line-height: 40px;
}

.footer__item3 p {
    font-size: 12px;
    color: #eee;
    margin-bottom: 1.5rem;
}

.footer__item3 ul {
    padding-left: 0px;
}

.footer__item3 ul li {
    display: inline;
    text-align: center;
    transition: opacity .5s;
    cursor: pointer;
}

.footer__item3 li i {
    font-size: 16px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 30px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.06);
    color: white;
}

.footer__item3 ul li:hover {
    opacity: .8;
}

/* COPY RIGHT------------------- */
.copyRight {
    padding: 1rem 0rem;
    text-align: center;
    background-color: #040a17;
    color: gray;
    font-size: 14px;
}

/* BACK TO TOP */
.backToTop {
    position: fixed;
    right: 18px;
    bottom: 100px;
    z-index: 2;
    opacity: 1;
    visibility: hidden;
}

.backToTop i {
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #0d369f;
    font-size: 14px;
    border-radius: 5px;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}